@import '../../resources/media-queries.scss';

.homepage{
    *, html {
        scroll-behavior: smooth !important;
    }
    scroll-behavior: smooth;
    &__top-wrapper{
        position: relative;
    }
    &__top-wrapper{
        h5{
            color:#fff;
        }
       
    }
    &__see-more-description{
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
        font-size: 14px;
    }
    &__top{
        position: absolute;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        top:0;
        z-index:10;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:3px 0;
    }
    &__call{
        display: flex;
        flex-direction: row;
        padding:3px 10px 0;
        img{
            width:18px;
            object-fit: contain;
            position:relative;
            bottom:3px;
        }
    }
    &__team-desktop{
        display: none;
    }
    &__phone{
       
    }
    &__social-top{
        margin-right: 30px;
        img{
            width:18px;
            margin:3px 10px 0;
        }
    }
    &__close{
        width:16px;
        height:16px;
        margin-top: 3px;
        position:absolute;
        top:3px;
        right:10px;
        z-index: 15;
    }
    &__contact{
        width:22px;
        height:22px;
        margin-top: 3px;
        position:absolute;
        top:3px;
        right:5px;
        z-index: 15;
    }
    &__player-wrapper{
        position: relative;
        height:500px;
    }
    &__react-player{
        height:500px;
        object-fit: cover;
        video{
            object-fit: cover;
        }
    }
    &__banner-box{
        height:auto;
        position:absolute;
        top:18%;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        left:0;
        right:0;
        margin:0 auto;
        width:80%;
        border-radius: 5px;
        padding:40px 20px;
        z-index:4;
        h2{
            opacity:1;
            text-align: center;
            line-height: 1.5;
            font-weight: lighter;

        }
    }
    &__logo{
        width:280px;
        position:absolute;
        z-index: 5;
        margin:50px 0 0 40px;
    }
    &__more{
        display: flex;
        justify-content: center;
        align-content: center;
        margin:30px auto 0;
        border:none;
        color:white;
        background-color: rgba(0,0,0,.5);
        padding:10px;
        border-radius: 5px;
    }
    &__about-us-section-background{
        background-image: url('../assets/horse-6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding:70px 20px!important;
        position: relative;
    }
    &__form-background{
        background-image: url('../assets/horse-8.jpg');
        height:600px;
    }
    &__white-subtitle{
        color:white;
    }
    &__offer{
        background-image: url('../assets/texture-2.avif');  
        background-repeat: no-repeat;
        background-size: cover;

    }
    &__subsection{
        background-color: rgba(0,0,0,.5);
        color: #fff;
        top:50px;
        padding:20px 10px;
        z-index:10;
        border-radius: 5px;
        width:95%;
    }
    &__about-us-section{
        padding:40px 20px 0 ;
    
    }
    &__subtitle{
        padding-bottom: 5px;
        text-align: center;
        font-size: 22px;
    }
    &__line{
        height:2px;
        width:40px;
        border-radius:5px;
        margin:0 auto 15px;
        display: flex;
        background-color: #D2B48C;
    }
    &__description{
        text-indent: 5px;
        font-weight: bold;
        line-height: 1.5;
        padding:5px 0;
    }
    &__camps-info-section{

      }
    &__camp{

    }
    &__camp-box{
        display: flex;
        flex-direction: row;
    }
    &__camp-images{
        position: relative;
        margin:20px 0;
    }
    &__horse-img{
        width:100px;
        height:100px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__horse-img-2{
        position: absolute;
        top:55%;
        left:25%;
    }
    &__horse-img-3{
        top:125%;
        left:0;
        position:absolute
    }
    &__camp-name{
        width:40%;
        text-align: center;
        display: flex;
        font-size: 25px;
        margin:40px auto!important;
    }
    &__camp-text{
        margin-top: 20px;
        margin-left: 30px;
    }
    &__benefit{
        display: flex;
        flex-direction: row;
        margin-bottom: 14px;
        img{
            width:20px;
        }
    }
    &__date-box{
        display: flex;
        flex-direction: row;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        justify-content: center;
        padding:15px;
        width:auto;
        border-radius: 3px;
    }
    &__calendar{
        width:25px;
        margin-right: 3px;
    }
    &__or{
        text-align:center;
        padding:10px 0;
    }
    &__form{
        background-image: url('../assets/texture-2.avif');        padding:20px 20px 40px;
        border-radius: 5px;
    }
    &__label{
        font-size: 14px;
        padding:20px 0 5px;
    }
    &__field{
        background-color: white;
        color:black;
        border:none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        height:46px;
        width:100%;
        text-indent: 3px;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../assets/texture-2.avif');        align-content: center;
        padding:40px 20px;
       
    }
    &__footer-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin:5px auto;
        img{
            width:18px;
            object-fit: contain;
            height:18px;
            position: relative;
            top:3px;
            margin-right: 3px;        }
        h5{
            padding:5px 0;
            text-align: center;
            font-weight: bolder;
        }
    }
    &__footer-logo{
        width:200px;
        height:auto;
        object-fit: contain;
        margin:0 auto 20px;
    }
    &__social{
        display: flex;
        flex-direction: row;
        align-content: center;
        
        justify-content: center;
        img{
            width:25px;
            margin:20px 5px;
        }
    }
    &__sub-section{
        padding: 20px;
        display: flex;
        justify-content: center;
        background-image: url('../assets/texture-2.avif');
        align-items: center;
        flex-direction: column;
        h3{
            width:70%;
            text-align: center;
            font-size: 20px;
            font-weight: light;
        }
    }
    &__speed-icon{
        height:50px;
        margin:0 auto 10px;
        object-fit: contain;
        width:auto;
    }
    &__submit{
        background-color: #E2725B;
        color:white;
        border:none;
        border-radius: 5px;
        height:40px;
        padding:0 10px;
        margin:30px auto 0;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    &__team-section{
        padding:40px 20px;
    }
    &__when-section{
        padding-bottom:50px;
    }
    .slick-track{

    }
    &__singular-slider{
       
    }
    &__slider-title{
   
    }
    &__slider{
        display: flex;
        flex-direction: column;
        img{
            border-radius: 30px;
            height:300px;
            width:100%;
            object-fit: cover;
        }
    }
    &__slider-info-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin:5px 0;
        p{
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            padding:5px 0;
        }
    }
    &__lessons{
        position:relative;
        margin:20px 0 10px;
    }
    &__lessons-wrapper{
        position: relative;
        height:600px;
        margin-bottom: 20px;
    }
    &__lesson-img{
        width:300px;
        border-radius: 10px;
        height:300px;
        object-fit: cover;
        object-position: top;
    }
    &__lesson-img-2{
        margin:-40px 0 20px 70px;
    }
    &__call-us{
        background-color: #E2725B;
        margin:10px auto;
    }
    &__price{
        background-color: #E2725B;
        padding:8px 0;
        border-radius: 15px;
        width:150px;
        margin-left: 20px;
        h4{
            color:white;
            text-align: center;
        }
    }
    &__more-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width:20px;
        }
        p{
            padding-top: 0;
        }
    }
    @include tablet{
        &__lesson-img-2{
            margin:initial;
        }
        &__lesson-img{
            width:45%;
        }
        &__lessons{
            display: flex;
            justify-content: space-between;
        }
        &__call-us{
            margin-top: 40px;
        }
        &__camp-images{
            margin-right: 50px;
        }
        &__horse-img{
            width:150px;
            height:150px;
        }
        &__benefit{
            h4{
                font-size: 20px;
            }
        }
    }
    @include desktop{
        &__price{  
            margin-left: 0;
            padding:15px 0;
        }
        &__logo{
            width:350px;
            top: 60px;
            left: 0;
            margin: 0 auto;
            right: 0;
        }
        &__banner-box{
            width:40%;
            height:170px;
            padding-top: 60px;
            h2{
                font-size: 32px;
            }
        }
        &__player-wrapper{
            height:700px;
        }
        &__sub-section{
            padding-bottom: 50px;
        }
        &__subsection{
            width:50%;
            margin:0 auto;
            padding:40px;
        }
        &__description{
            font-size: 18px;
        }
        &__subtitle{
            font-size: 24px;
        }
        &__team-desktop{
            display: flex!important;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:40px 14%;

        }
        &__singular-slider{
            width:30%;
        }
        &__slider-img{
            height:300px;
            width:100%;
            border-radius: 10px;
        }
        &__offer-section{
            padding:40px 14%;
           h4{
            text-align: center;
            padding-bottom: 40px;
           }
        }
        &__lessons{
            display: flex;
            justify-content: space-between;
            width:60%;
            margin:0 auto 20px;
        }
        &__lesson-img{
        width:400px;
        height:400px;
        }
        &__lesson-img-2{
            margin:initial;
        }
        &__camps-info-section{

        }
        &__camps-description{
            text-align: center;
            font-size: 20px;
        }
        &__camp-box{
            width:50%;
            display: flex;
            justify-content: center;
            margin:20px auto 100px;
        }
        &__camp-images{
            position:relative;
            right:100px;
            img{
                width:240px;
                height:240px;
            }
        }
        &__benefit{
            img{
                width:40px;
            }
            h4{
                font-size: 18px;
                position: relative;
                top:10px;
            }
        }
        &__date-box{
            width:30%;
            margin:10px auto;
        }
        &__form{
            width:40%;
            margin:40px auto;
            padding:40px;
        }
    }
    
}